fastapi
uvicorn[standard]
python-dotenv
httpx
pandas
numpy
celery
redis
psycopg2-binary  # PostgreSQL
asyncpg
influxdb-client
python-jose[cryptography]
requests
TA-Lib
python-binance
slowapi
prometheus-client
binance-connector
supabase
orjson
scipy
pydantic[email]
firebase_admin
stripe
apscheduler
anyio
plotly
sse-starlette
kaleido
concurrent-log-handler
scikit-learn
python-telegram-bot
twisted
